{% extends 'base.html' %}
{% block title %}
    Forgot password
{% endblock %}
{% block content %}
<h1 align="center">Reset Password</h1>
<p align="center">Enter your mobile number and we'll send you an OTP to reset your password.</p>


  <div class="w3-display-middle">
    <div class="search-container">
        <form action="/action_page.php">
          <input class="search_bar" type="text" placeholder="Mobile Number" name="mobilenumber1">
            <button type="submit"><a href="/otp">Submit</a></button>
        </form>
      </div>
  </div>

{% endblock %}