{% extends 'base.html' %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
<h1 align="center">Reset Password</h1>
<p align="center">Reset your password.</p>

  <div class="w3-display-middle">
    <div class="search-container">
        <form action="/action_page.php">
          <input class="search_bar" type="text" placeholder="Password" name="password1"><br>
            <!--<button type="submit">Submit</button>-->
          <input class="search_bar" type="text" placeholder="Retype-Password" name="retypepassword1"><br>
            <button type="submit"><a href="/pharmacy">Reset Password</a></button>
        </form>
      </div>
  </div>

{% endblock %}